html {
  justify-content: center;
  --font-primary: "Poppins", serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  line-height: calc(1em + 0.6rem);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-primary);
  margin: 4vw auto;
  width: 92vw;
  max-width: 1280px;
  gap: 24px;
}

h1 {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 32px;
  color: #242325;
}

h2 {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 24px;
  color: #242325;
}

button {
  font-family: var(--font-primary);
  font-weight: 300;
  background-color: #fff1e6;
  color: #242325;
  border: none;
  font-size: 16px;
  padding: 16px 24px;
  margin: 24px;
}

button:hover {
  background-color: #ffe8d6;
  transition-duration: 0.2s;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 300px;
}

.card {
  background-color: #fff1e6;
  border-radius: 8px;
  padding: 16px;
  margin: 8px;
  width: 300px;
  text-align: center;
}

.remove {
  display: block;
  text-decoration: underline;
}