body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.poppins {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.button {
  background-color: #fff1e6;
  color: #242325;
  border: none;
  font-size: 16px;
  padding: 16px 24px;
  margin: 24px;
}

.button:hover {
  background-color: #ffe8d6;
  transition-duration: 0.2s;
}

#container {
 display: flex;
  flex-wrap: wrap;
  width: 300px;
}